@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
/*font-family: 'Josefin Sans', sans-serif; */
:root {
    --reddish: #f05454;
    --blackish: #222831;
    --navy: #30475e;
    --offWhite: #e8e8e8;
}

.pageBody {
    position: relative;
    min-height: 100vh;
    background-color: var(--offWhite);
}
.main {
    padding-bottom: 40px;
}
.topOfPage {
    position: relative;
    background-image: url("images/piano.jpg");
    bottom: 0;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 200px;
}
.navbar {
    background-color: var(--navy);
    padding-top: 10px;
}
.dropdown-menu {
    background-color: var(--navy);
}

.navbar a {
    font-family: "Josefin Sans", sans-serif;
    padding: 2px 16px 2px 16px;
    text-decoration: underline;
    font-size: 20px;
    color: var(--offWhite);
    display: block;
}
h1 {
    padding: 15px;
    color: var(--offWhite);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.scoreArea h5,
.scoreArea label {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: var(--offWhite);
}
.scoreArea {
    background-color: var(--navy);
    padding-top: 15px;
    border-radius: 20px;
}
.playAgain {
    height: 75px;
    width: 75px;
    margin-top: 10px;
    padding: 10px 5px;
    background-color: var(--navy);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px var(--blackish);
}
.blockOfAnswers {
    padding-top: 20px;
}

.answersTopRow button,
.answersMiddleRow button,
.answersBottomRow button {
    height: 100px;
    max-width: 80px;
    margin: 5px;
    background-color: var(--navy);
    color: var(--offWhite);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px var(--blackish);
}
.blockOfAnswers button {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
}
button:focus {
    outline: none;
}

.audioFileBox button {
    height: auto;
    max-width: 90%;
}
button i {
    color: var(--offWhite);
    font-size: 15px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
}
.hints p {
    color: var(--offWhite);
}
.modal-content {
    border-radius: 20px;
    background-color: var(--offWhite);
}
.onLoadModal, .endGameModal {
    background-color: var(--navy);
    display: block;
}
.onLoadModal h4, .onLoadModal h5, 
.endGameModal h4, .endGameModal h5, .intervalType, #playAnotherGame, #loadGame {
    font-family: "Josefin Sans", sans-serif;
    color: var(--offWhite);
}
.intervalType, #playAnotherGame, #loadGame {
    text-decoration: underline;
    font-size: 20px;
}
.intervalType.active, .intervalType:active  {
  color: var(--navy);
  background-color: var(--offWhite);
  border-radius: 5px;
}


@media only screen and (min-width: 450px){
    .answersTopRow button,
    .answersMiddleRow button,
    .answersBottomRow button {
        height: 110px;
        max-width: 100px;
        margin: 10px 5px;
    }
}
@media only screen and (min-width: 768px) {
    .topOfPage {
        padding-top: 40px;
        height: 33vh;
    }
    h1 {
        padding: 20px;
        font-size: 40px;
    }
    .scoreArea {
        height: 75px;
        padding: 15px;
        border-radius: 20px;
    }
    .scoreArea h5,
    .scoreArea label {
        font-size: 20px;
    }
    .playAgain {
        height: 100px;
        width: 100px;
        padding: 10px;
    }
    .blockOfAnswers {
        padding-top: 20px;
    }

    .answersTopRow button,
    .answersMiddleRow button,
    .answersBottomRow button {
        height: 100px;
        max-width: 180px;
        padding: 10px;
        margin: 20px;
    }
    .blockOfAnswers button {
        font-size: 25px;
    }
    button i {
        font-size: 35px;
    }
}
