:root {
    
    --reddish: #f05454;
    --blackish: #222831;
    --navy: #30475e;
    --offWhite: #e8e8e8;
}



#pageBody {
    background-color: var(--offWhite);
    z-index: 0;
}

#pageBody img {
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	opacity: 0.3;
	z-index: 0;
}
h1 {
    padding: 20px;
    color: var(--navy);
}
@media only screen and (max-width: 600px) {
	#pageBody img {
		position: absolute;
		left: 0;
		top: 0;
		width: auto;
		height: 100%;
		opacity: 0.3;
		z-index: 0;
	}
}

.sideNavbar {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: linear-gradient(90deg, var(--navy), 90%, transparent);
	overflow-x: hidden;
	padding-top: 100px;
}

.sideNavbar h2,
.sideNavbar p {
	padding: 2px 16px 2px 16px;
	text-decoration: underline;
	font-size: 20px;
	color: var(--offWhite);
	display: block;
}

.main {
	margin-left: 200px;
	padding: 0px 10px;
}
.audioFileBox {
    padding-top: 10px;
}
.scoreArea {
    padding-top: 20px;
}
.scoreArea h4, .scoreArea label {
    color: var(--navy);
}
.playAgain {
    height: 100px;
    width: 150px;
    padding: 10px;
    background-color: var(--navy);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px var(--blackish);
}
.blockOfAnswers {
	padding-top: 20px;
}

.answersTopRow button,
.answersMiddleRow button,
.answersBottomRow button {
	width: 180px;
	height: 120px;
	padding: 20px;
	margin: 20px;
	background-color: var(--navy);
    color: var(--offWhite);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px var(--blackish);
}

button:focus {
    outline: none;
}

button {
    max-width: 75%;
}
button i {
    font-size: 30px;
}