@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
/*font-family: 'Josefin Sans', sans-serif; */
:root {
    
    --reddish: #f05454;
    --blackish: #222831;
    --navy: #30475e;
    --offWhite: #e8e8e8;
}

#pageBody {
    position: relative;
    min-height: 100vh;
    background-color: var(--offWhite);
    z-index: 0;
}
#pageBody img {
        position: absolute;
        background-attachment: fixed;
		left: 0;
		top: 0;
		height: 100vh;
		opacity: 0.5;
		z-index: 0;
	}

.main {
    padding: 40px 10px;
}	
h1 {
    padding: 15px;
    color: var(--navy);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.navbar {
	background-color: var(--navy);
	padding-top: 10px;
}
.dropdown-menu {
    background-color: var(--navy);
}
.navbar a {
    font-family: 'Josefin Sans', sans-serif;
	padding: 2px 16px 2px 16px;
	text-decoration: underline;
	font-size: 20px;
	color: var(--offWhite);
	display: block;
}
.audioFileBox {
    padding-top: 10px;
}

.scoreArea h5, .scoreArea label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var( --blackish);
}
.playAgain {
    height: 50px;
    width: 75%;
    padding: 10px;
    background-color: var(--navy);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px var(--blackish);
}
.blockOfAnswers {
	padding-top: 20px;
}

.answersTopRow button,
.answersMiddleRow button,
.answersBottomRow button {
    font-family: 'Josefin Sans', sans-serif;
	max-width: 90%;
	height: 100px;
	padding: 5px;
	margin: 20px auto;
	background-color: var(--navy);
    color: var(--offWhite);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px var(--blackish);
}

button:focus {
    outline: none;
}

button {
    max-width: 75%;
}
button i {
    color: var(--offWhite);
    font-size: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    bottom: 0;
}
.hints p {
     color: var(--offWhite);
}
.modal-content {
   background-color: var(--offWhite); 
}

@media only screen and (min-width: 768px) {

.scoreArea {
    padding-top: 20px;
}
.scoreArea h5, .scoreArea label {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-align: center;
    color: var( --blackish);
}
.playAgain {
    height: 100px;
    width: 100px;
    padding: 10px;
    
    
}
.blockOfAnswers {
	padding-top: 20px;
}

.answersTopRow button,
.answersMiddleRow button,
.answersBottomRow button {
	width: 180px;
	height: 120px;
	padding: 20px;
	margin: 20px;
	background-color: var(--navy);
    color: var(--offWhite);
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px var(--blackish);
}

button:focus {
    outline: none;
}

button {
    max-width: 75%;
}
button i {
    font-size: 30px;
}
}
